body {
	background-color: #EDE8D0;
}
#navigation{
	text-align: right;
	font-size: 30PX;
    background-color: #787569;
    padding: 20px;
    position:sticky;
}
#navigation a {
	color: white;

}
#navigation a:hover{
	background-color:#93A1CB;
}
.introduction{
	display:flex;
	padding: 30px;
}
.about{
	display: block;
}
#pic{
	margin-top:70px;
	height:170px;
	width:170px;
	margin-inline: 30px;
}
.skills{
	width:50%;
}
#skill_list{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	list-style: none;
	text-align: center;
    
}
#projects{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap:30px;	
	list-style: none;
	border: 15px black;
	padding: 5px;
	width:50%;
}
#skill_list li{
	border: 2px solid black;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px; 
    font-size: 20px;
    margin-inline:10px;
}
#projects li{
	border: 2px solid black;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
    height:150px;
    width:100px;
    font-size: 20px;
    margin-inline:10px;
}
.half_space{
	display:flex;
	padding:10px;
}

#form{
	font-size: 25px;
	border: 2px solid black;
	margin:10px;
	width:350px;
	padding: 10px;	
	height: 300px;
}
#button{
	border-radius:5px;
	padding:4px;
	background-color: #CBBD93;
	font-size: 25px;
	align-items:center;
	cursor: pointer;
}
#button:hover{
	background-color: white;
}
.user{
	padding:15px;
}
.footer{
	padding-top: 50px;
	font-size:16px;
}
